[tool.poetry]
name = "docker-duplicity"
version = "0.1.0"
description = ""
authors = ["Tecnativa"]

[tool.poetry.dependencies]
python = "^3.8"
b2 = {version = "^3.4.0", optional = true}
b2sdk = {version = "1.16.0", optional = true}
boto = {version = "^2.49.0", optional = true}
boto3 = {version = "^1.26.142", optional = true}
gdata = {version = "^2.0.18", optional = true}
jottalib = {version = "^0.5.1", optional = true}
paramiko = {version = "^3.2.0", optional = true}
pexpect = {version = "^4.8.0", optional = true}
PyDrive = {version = "^1.3.1", optional = true}
PyDrive2 = {version = "^1.15.4", optional = true}
python-swiftclient = {version = "^4.3.0", optional = true}
requests-oauthlib = {version = "^1.3.1", optional = true}
duplicity = {version = "^1.2.3", optional = true}
dropbox = {version = "^11.36.0", optional = true}
python-keystoneclient = {version = "^5.1.0", optional = true}
idna = {version = "3.4", optional = true}

[tool.poetry.dev-dependencies]
pytest = "^7.3.1"
black = "^23.3"
flake8 = "^5.0.4"
plumbum = "^1.8.1"
pytest-xdist = "^3.3.1"

[tool.poetry.extras]
duplicity = ["b2", "b2sdk", "boto", "boto3", "gdata", "jottalib", "paramiko", "pexpect", "PyDrive", "PyDrive2", "python-swiftclient", "requests-oauthlib", "duplicity", "dropbox", "python-keystoneclient"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
