[tool.poetry]
name = "docker-duplicity"
version = "0.1.0"
description = ""
authors = ["Tecnativa"]

[tool.poetry.dependencies]
python = "^3.8"
b2 = {version = "^3.4.0", optional = true}
b2sdk = {version = "1.16.0", optional = true}
boto = {version = "^2.49.0", optional = true}
boto3 = {version = "^1.24.61", optional = true}
gdata = {version = "^2.0.18", optional = true}
jottalib = {version = "^0.5.1", optional = true}
paramiko = {version = "^2.11.0", optional = true}
pexpect = {version = "^4.8.0", optional = true}
PyDrive = {version = "^1.3.1", optional = true}
PyDrive2 = {version = "^1.14.0", optional = true}
pyrax = {version = "^1.10.0", optional = true}
python-swiftclient = {version = "^4.0.1", optional = true}
requests-oauthlib = {version = "^1.3.1", optional = true}
duplicity = {version = "^0.8.23", optional = true}
dropbox = {version = "^11.33.0", optional = true}
python-keystoneclient = {version = "^3.10.0", optional = true}
idna = {version = "3.3", optional = true}

[tool.poetry.dev-dependencies]
pytest = "^7.1.2"
black = "^22.6"
flake8 = "^4.0.1"
plumbum = "^1.7.2"
pytest-xdist = "^2.5.0"

[tool.poetry.extras]
duplicity = ["b2", "b2sdk", "boto", "boto3", "gdata", "jottalib", "paramiko", "pexpect", "PyDrive", "PyDrive2", "pyrax", "python-swiftclient", "requests-oauthlib", "duplicity", "dropbox", "python-keystoneclient"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
